
<div class="relative overflow-auto bg-cover bg-center w-full h-full scroll-smooth touch-auto bg-no-repeat " style="

  background-image: url('https://images.pexels.com/photos/460680/pexels-photo-460680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
 
"  >
<div class="p-8 flex  flex-col  items-center  bg-white bg-opacity-20 backdrop-blur-lg  drop-shadow-lg" >
    <h1 class=" txet-2xl text-amber-700 justify-center ">
      مواقيت الصلوات
    </h1>
   <p class="pt-4 text-center px-4">فَإِذَا قَضَيْتُمُ الصَّلَاةَ فَاذْكُرُوا اللَّهَ قِيَامًا وَقُعُودًا وَعَلَىٰ جُنُوبِكُمْ ۚ فَإِذَا اطْمَأْنَنتُمْ فَأَقِيمُوا الصَّلَاةَ ۚ إِنَّ الصَّلَاةَ كَانَتْ عَلَى الْمُؤْمِنِينَ كِتَابًا مَّوْقُوتًا </p>
   <p class="text-amber-700 text-xs">سورة النساء آية رقم (103)  </p>
    
</div>
  <div class="justify-self-stretch items-center " >
    <div class="p-12 flex justify-center gap-4 items-center w-full h-full">
      <div class="w-full max-w-900px max-h-900px py-4 h-full rounded-lg bg-white bg-opacity-20 backdrop-blur-lg  drop-shadow-lg">
       
        <div class="p-4 items-center flex flex-col focus"> 
          <h1 id="h1" class=" font-Poppins text-amber-700  text-center"> اوقات الصلاة في مدينة </h1>
            <select  (change)="ngmodelchange($event)" class="font-Poppins text-center p-4 m-4 bg-white bg-opacity-20 backdrop-blur-lg w-1/2  focus:ring-amber-700 focus:outline-none  text-sm leading-3 text-slate-900 rounded-md py-2  ">
              <option *ngFor="let c of citis" [value]="c.name"class="font-Poppins text-amber-700  hover:opacity-70 hover:bg-amber-700">{{c.arabicName}}  </option>
               </select>
          <h3 id="h3" dir="rtl" class="font-Poppins text-slate-800 mb-0 text-center">
            {{pry?.date?.hijri.weekday.ar }}   
          </h3>
          <h3 dir="ltr" class="font-Poppins text-slate-800 text-center m-0">
            {{pry?.date.readable}}  
          </h3>
          </div>
        
      <div class="text-center grid grid-cols-3 gap-4 text-white px-4 md:px-12 ">
      <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out " onclick="">
        <h2 class=" pt-4 font-Reem ">الأمساك 
        </h2>
        <p class=" pb-4 font-Reem">{{pry?.timings.Imsak}}</p>
      </div>
      <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out "onclick=""> 
        <h2 class=" pt-4 font-Reem">الفجر 
        <mat-icon>wb_sunny</mat-icon>
      </h2>
      <p class=" pb-4 font-Reem">{{pry?.timings.Fajr}}</p>
    </div>
      <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out  "onclick=""> 
        <h2 class=" pt-4 font-Reem">الشروق 
      </h2>
      <p class=" pb-4 font-Reem">{{pry?.timings.Sunrise}}</p>
    </div>
      <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white  transition duration-300 ease-in-out "onclick="">
        <h2 class=" pt-4 font-Reem">الظهر  </h2>
        <p class=" pb-4 font-Reem">{{pry?.timings.Dhuhr}}</p>
      </div>
      <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out "onclick="">
        <h2 class=" pt-4 font-Reem">العصر 
          <mat-icon>filter_drama</mat-icon>
        </h2>
        <p class=" pb-4 font-Reem">{{pry?.timings.Asr}}</p>
      </div>
      <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out "onclick=" ">
        <h2 class=" pt-4 font-Reem">الغروب 
      </h2>
      <p class=" pb-4 font-Reem">{{pry?.timings.Sunset}}</p>
    </div>
      <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out "onclick=" ">
        <h2 class=" pt-4 font-Reem">المغرب 
        </h2>
        <p class=" pb-4 font-Reem">{{pry?.timings.Maghrib}}</p>
      </div>
      <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out "onclick=" ">
        <h2 class=" pt-4 font-Reem">العشاء 
          <mat-icon>nights_stay</mat-icon>
        </h2>
        <p class=" pb-4 font-Reem">{{pry?.timings.Isha}}</p>
      </div>
      <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out "onclick=" ">
        <h2 class=" pt-4 font-Reem">منتصف الليل  </h2>
        <p class=" pb-4 font-Reem">{{pry?.timings.Midnight}}</p>
      </div>
      </div>
    
      
    </div>
   
    </div>
    <!-- <div class="p-12 flex justify-center gap-4 items-center w-full h-full">
       <div class="w-full h-full py-4 rounded-lg bg-white bg-opacity-20 backdrop-blur-lg  drop-shadow-lg">
      <div class="p-4"> 
        <h1 class=" font-Poppins text-amber-700  text-center"> اوقات الصلاة في مدينة مكة المكرمة </h1>
    
        <h3 dir="rtl" class="  font-Poppins text-slate-800  text-center">
          {{prys.data?.date?.hijri.year}}  -{{prys.data?.date?.hijri.month.ar}}-{{prys.data?.date?.hijri.day}} 
        </h3>
        <h3 class="font-Poppins text-slate-800 text-center">
          {{prys.data?.date.readable}}  
        </h3>
        <h3 class="font-Poppins text-slate-800 text-center">
          {{prys.data?.meta.method.params.Isha}}
        </h3></div>
      
    <div class="text-center grid grid-cols-3 gap-4 text-white px-4 md:px-12">
    <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out ">
      <h2 class=" pt-4 font-Reem">الأمساك 
      </h2>
      <p class=" pb-4 font-Reem">{{prys.data?.timings.Imsak}}</p>
    </div>
    <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out "> 
      <h2 class=" pt-4 font-Reem">الفجر 
      <mat-icon>wb_sunny</mat-icon>
    </h2>
    <p class=" pb-4 font-Reem">{{prys.data?.timings.Fajr}}</p>
  </div>
    <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out "> 
      <h2 class=" pt-4 font-Reem">الشروق 
    </h2>
    <p class=" pb-4 font-Reem">{{prys.data?.timings.Sunrise}}</p>
  </div>
    <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
      <h2 class=" pt-4 font-Reem">الظهر  </h2>
      <p class=" pb-4 font-Reem">{{prys.data?.timings.Dhuhr}}</p>
    </div>
    <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
      <h2 class=" pt-4 font-Reem">العصر 
        <mat-icon>filter_drama</mat-icon>
      </h2>
      <p class=" pb-4 font-Reem">{{prys.data?.timings.Asr}}</p>
    </div>
    <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out ">
      <h2 class=" pt-4 font-Reem">الغروب 
    </h2>
    <p class=" pb-4 font-Reem">{{prys.data?.timings.Sunset}}</p>
  </div>
    <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
      <h2 class=" pt-4 font-Reem">المغرب 
      </h2>
      <p class=" pb-4 font-Reem">{{prys.data?.timings.Maghrib}}</p>
    </div>
    <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
      <h2 class=" pt-4 font-Reem">العشاء 
        <mat-icon>nights_stay</mat-icon>
      </h2>
      <p class=" pb-4 font-Reem">{{prys.data?.timings.Isha}}</p>
    </div>
    <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out ">
      <h2 class=" pt-4 font-Reem">منتصف الليل  </h2>
      <p class=" pb-4 font-Reem">{{prys.data?.timings.Midnight}}</p>
    </div>
    </div>
  
    
  </div>
    </div>
    <div class="p-12 flex justify-center gap-4 items-center w-full h-full">
      <div class="w-full h-full py-4 rounded-lg bg-white bg-opacity-20 backdrop-blur-lg  drop-shadow-lg">
     <div class="p-4"> 
       <h1 class=" font-Poppins text-amber-700  text-center"> اوقات الصلاة في مدينة جدة </h1>
   
       <h3 dir="rtl" class="  font-Poppins text-slate-800  text-center">
         {{pryj.data?.date?.hijri.year}}  -{{pryj.data?.date?.hijri.month.ar}}-{{pryj.data?.date?.hijri.day}} 
       </h3>
       <h3 class="font-Poppins text-slate-800 text-center">
         {{pryj.data?.date.readable}}  
       </h3>
       <h3 class="font-Poppins text-slate-800 text-center">
         {{pryj.data?.meta.method.params.Isha}}
       </h3></div>
     
   <div class="text-center grid grid-cols-3 gap-4 text-white px-4 md:px-12">
   <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">الأمساك 
     </h2>
     <p class=" pb-4 font-Reem">{{pryj.data?.timings.Imsak}}</p>
   </div>
   <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out "> 
     <h2 class=" pt-4 font-Reem">الفجر 
     <mat-icon>wb_sunny</mat-icon>
   </h2>
   <p class=" pb-4 font-Reem">{{pryj.data?.timings.Fajr}}</p>
 </div>
   <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out "> 
     <h2 class=" pt-4 font-Reem">الشروق 
   </h2>
   <p class=" pb-4 font-Reem">{{pryj.data?.timings.Sunrise}}</p>
 </div>
   <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">الظهر  </h2>
     <p class=" pb-4 font-Reem">{{pryj.data?.timings.Dhuhr}}</p>
   </div>
   <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">العصر 
       <mat-icon>filter_drama</mat-icon>
     </h2>
     <p class=" pb-4 font-Reem">{{pryj.data?.timings.Asr}}</p>
   </div>
   <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">الغروب 
   </h2>
   <p class=" pb-4 font-Reem">{{pryj.data?.timings.Sunset}}</p>
 </div>
   <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">المغرب 
     </h2>
     <p class=" pb-4 font-Reem">{{pryj.data?.timings.Maghrib}}</p>
   </div>
   <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">العشاء 
       <mat-icon>nights_stay</mat-icon>
     </h2>
     <p class=" pb-4 font-Reem">{{pryj.data?.timings.Isha}}</p>
   </div>
   <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">منتصف الليل  </h2>
     <p class=" pb-4 font-Reem">{{pryj.data?.timings.Midnight}}</p>
   </div>
   </div>
 
   
 </div>
   </div>
    <div class="p-12 flex justify-center gap-4 items-center w-full h-full">
      <div class="w-full h-full py-4 rounded-lg bg-white bg-opacity-20 backdrop-blur-lg  drop-shadow-lg">
     <div class="p-4"> 
       <h1 class=" font-Poppins text-amber-700  text-center"> اوقات الصلاة في مدينة أبها </h1>
   
       <h3 dir="rtl" class="  font-Poppins text-slate-800  text-center">
         {{prya.data?.date?.hijri.year}}  -{{prya.data?.date?.hijri.month.ar}}-{{prya.data?.date?.hijri.day}} 
       </h3>
       <h3 class="font-Poppins text-slate-800 text-center">
         {{prya.data?.date.readable}}  
       </h3>
       <h3 class="font-Poppins text-slate-800 text-center">
         {{prya.data?.meta.method.params.Isha}}
       </h3></div>
     
   <div class="text-center grid grid-cols-3 gap-4 text-white px-4 md:px-12">
   <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">الأمساك 
     </h2>
     <p class=" pb-4 font-Reem">{{prya.data?.timings.Imsak}}</p>
   </div>
   <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out "> 
     <h2 class=" pt-4 font-Reem">الفجر 
     <mat-icon>wb_sunny</mat-icon>
   </h2>
   <p class=" pb-4 font-Reem">{{prya.data?.timings.Fajr}}</p>
 </div>
   <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out "> 
     <h2 class=" pt-4 font-Reem">الشروق 
   </h2>
   <p class=" pb-4 font-Reem">{{prya.data?.timings.Sunrise}}</p>
 </div>
   <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">الظهر  </h2>
     <p class=" pb-4 font-Reem">{{prya.data?.timings.Dhuhr}}</p>
   </div>
   <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">العصر 
       <mat-icon>filter_drama</mat-icon>
     </h2>
     <p class=" pb-4 font-Reem">{{prya.data?.timings.Asr}}</p>
   </div>
   <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">الغروب 
   </h2>
   <p class=" pb-4 font-Reem">{{prya.data?.timings.Sunset}}</p>
 </div>
   <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">المغرب 
     </h2>
     <p class=" pb-4 font-Reem">{{prya.data?.timings.Maghrib}}</p>
   </div>
   <div class="hover:opacity-70 hover:bg-amber-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">العشاء 
       <mat-icon>nights_stay</mat-icon>
     </h2>
     <p class=" pb-4 font-Reem">{{prya.data?.timings.Isha}}</p>
   </div>
   <div class="hover:opacity-70 hover:bg-slate-700 rounded-lg text-white transition duration-300 ease-in-out ">
     <h2 class=" pt-4 font-Reem">منتصف الليل  </h2>
     <p class=" pb-4 font-Reem">{{prya.data?.timings.Midnight}}</p>
   </div>
   </div>
 
   
 </div>
   </div> -->
  </div>
</div>
